{% comment %}	
<div class="waitlist">
  <aside class="waitlist-info"> This item is currently out of stock. Join the wait list to be notified as soon as it becomes available.</aside>
</div>



<form action="//alex-crane.us13.list-manage.com/subscribe/post-json?u=1b2bb78a840ce739562775470&amp;id=1c84a48d74" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" id="ac_waitlist" novalidate><div id="mergeTable" class="mergeTable"><div class="submit_container clear"> <input type="submit" class="formEmailButton waitlist-subscribe" name="submit" value="Join {{ 'products.product.waitlist' | t }}"></div><aside class="waitlist-info"> {{ 'products.product.waitlist_info' | t }}</aside><div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0"><div class="field-group"> <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="{{ customer.email }}" placeholder="enter your email" class="waitlist-email"></div></div><div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-3"><div class="field-group"> <input type="text" name="MERGE3" id="MERGE3" size="25" value="{{ product.title }}" class="waitlist-product"></div></div><div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1"><div class="field-group"> <input type="text" name="MERGE1" id="MERGE1" size="25" value="{{ customer.first_name }}"></div></div><div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2"><div class="field-group"> <input type="text" name="MERGE2" id="MERGE2" size="25" value="{{ customer.last_name }}"></div></div><div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-5"><div class="field-group"> <input type="text" name="MERGE5" id="MERGE5" size="25" value="{{ 'now' | date: "%m/%d/%y" }}"></div></div></div><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1b2bb78a840ce739562775470_1c84a48d74" tabindex="-1" value=""></div></form>
<div class="waitlist waitlist-form" data-date="{{ "now" | date: "%Y-%m-%d %H:%M" }}">
  <div class="klaviyo-form-V2E6SM"></div>
</div>
{% endcomment %}