<footer class="site-footer" style="background-color: {{ section.settings.footer_background }};">
  <section class="newsletter">
	<div class="kl_embed_signup">
    <div class="klaviyo-form-VuCrcC"></div>
	</div>
  </section>

  <section class="footer-links"> 
  {% comment %} Primary Links {% endcomment %} {%- assign footer_primary = section.settings.footer_primary -%} {% if linklists[footer_primary].links.size > 0 %}<ul class="primary"> {% for link in linklists[footer_primary].links %}<li><a href="{{ link.url }}">{{ link.title }}</a></li> {% endfor %}</ul> {% endif %} {% comment %} Secondary Links {% endcomment %} {%- assign footer_secondary = section.settings.footer_secondary -%} 
  {% if linklists[footer_secondary].links.size > 0 %}<ul class="secondary"> {% for link in linklists[footer_secondary].links %}<li><a href="{{ link.url }}">{{ link.title }}</a></li> {% endfor %}</ul> {% endif %}
  {%- assign footer_tertiary = section.settings.footer_tertiary -%}
  {% if linklists[footer_tertiary].links.size > 0 %}<ul class="tertiary"> {% for link in linklists[footer_tertiary].links %}<li><a href="{{ link.url }}">{{ link.title }}</a></li> {% endfor %}</ul> {% endif %}
<link rel="preload" href="{{ 'styles-footer.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ 'styles-footer.min.css' | asset_url }}"></noscript>

    <ul class="socials"> 
      {%- assign social_accounts = 'Instagram, Facebook, Twitter, Pinterest, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%} {% for social in social_accounts %} {%- assign social_handle = social | handleize -%} {% capture social_link %}social_{{ social_handle }}_link{% endcapture %} {% capture social_icon %}{{ social_handle }}.svg{% endcapture %} {% if settings[social_link] != blank %}<li> <a href="{{ settings[social_link] }}" target="_blank">
        
        {% if social_handle == 'instagram' %}<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Intsagram</title><defs></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Intsagram" fill="#ffffff" fill-rule="nonzero"><g id="instagram" transform="translate(4.029356, 4.472833)"><path d="M20.6846388 0C15.0653119 0 14.3637579.0258557985 12.1573964.124107833 9.9544824.227531026 8.45484609.573998726 7.13620037 1.08594354 5.77618537 1.61340182 4.62129304 2.3218507 3.47157187 3.47157187 2.3218507 4.62129304 1.6116781 5.77446165 1.08594354 7.13620037.573998726 8.45484609.225807306 9.9544824.124107833 12.1573964.0206846388 14.3637579 0 15.0653119 0 20.6846388 0 26.3039656.0258557985 27.0055196.124107833 29.2118811.227531026 31.4130714.573998726 32.9144314 1.08594354 34.2330772 1.61340182 35.5913684 2.3218507 36.7479845 3.47157187 37.8977057 4.62129304 39.0457031 5.77446165 39.7575994 7.13620037 40.283334 8.45656981 40.7935551 9.95620612 41.1434702 12.1573964 41.2451697 14.3637579 41.3485929 15.0653119 41.3692775 20.6846388 41.3692775 26.3039656 41.3692775 27.0055196 41.3434217 29.2118811 41.2451697 31.4130714 41.1417465 32.9144314 40.7935551 34.2330772 40.283334 35.5913684 39.7558757 36.7479845 39.0457031 37.8977057 37.8977057 39.0457031 36.7479845 39.7575994 35.5965396 40.283334 34.2330772 40.7935551 32.9144314 41.1434702 31.4130714 41.2451697 29.2118811 41.3485929 27.0055196 41.3692775 26.3039656 41.3692775 20.6846388 41.3692775 15.0653119 41.3434217 14.3637579 41.2451697 12.1573964 41.1417465 9.95620612 40.7935551 8.45312237 40.283334 7.13620037 39.7558757 5.77618537 39.0457031 4.62129304 37.8977057 3.47157187 36.7479845 2.3218507 35.5965396 1.6116781 34.2330772 1.08594354 32.9144314.573998726 31.4130714.225807306 29.2118811.124107833 27.0055196.0206846388 26.3039656 0 20.6846388 0ZM20.6846388 3.72323498C26.2057136 3.72323498 26.8641746 3.7508145 29.0446803 3.84561909 31.0614325 3.94042368 32.1559947 4.27482534 32.8834045 4.56096285 33.8521351 4.93501006 34.5381756 5.38317724 35.2655854 6.10541587 35.987824 6.82937823 36.4359912 7.51714247 36.8100384 8.48587305 37.0927285 9.21328285 37.4305776 10.307845 37.5219347 12.3245973 37.6201868 14.5068267 37.6425951 15.1618402 37.6425951 20.6846388 37.6425951 26.2074373 37.6167393 26.8641746 37.5150398 29.0446803 37.4098929 31.0614325 37.0737675 32.1559947 36.7893538 32.8834045 36.4032405 33.8521351 35.9636919 34.5381756 35.2397296 35.2655854 34.5174909 35.987824 33.8193844 36.4359912 32.8609961 36.8100384 32.1370338 37.0927285 31.0252344 37.4305776 29.0084821 37.5219347 26.812463 37.6201868 26.166068 37.6425951 20.6329272 37.6425951 15.0980626 37.6425951 14.4516676 37.6167393 12.2573722 37.5150398 10.2388962 37.4098929 9.12709685 37.0737675 8.4031345 36.7893538 7.42233788 36.4032405 6.7483634 35.9636919 6.02612476 35.2397296 5.30043868 34.5174909 4.83675803 33.8193844 4.47477685 32.8609961 4.19036307 32.1370338 3.85596141 31.0252344 3.7508145 29.0084821 3.6732471 26.8365951 3.64566758 26.166068 3.64566758 20.658783 3.64566758 15.1497742 3.6732471 14.4775234 3.7508145 12.2797805 3.85596141 10.2630283 4.19036307 9.15295265 4.47477685 8.4289903 4.83675803 7.44646995 5.30043868 6.77421919 6.02612476 6.04853312 6.7483634 5.32629448 7.42233788 4.86089011 8.4031345 4.50063265 9.12709685 4.21449515 10.2147641 3.87836977 12.2315164 3.77494657 14.4292593 3.69737918 15.0756542 3.67152338 20.6070714 3.67152338L20.6846388 3.72323498ZM20.6846388 10.0630768C14.8153725 10.0630768 10.0630768 14.8205437 10.0630768 20.6846388 10.0630768 26.553905 14.8205437 31.3062008 20.6846388 31.3062008 26.553905 31.3062008 31.3062008 26.5487339 31.3062008 20.6846388 31.3062008 14.8153725 26.5487339 10.0630768 20.6846388 10.0630768ZM20.6846388 27.5795184C16.8752178 27.5795184 13.7897592 24.4940597 13.7897592 20.6846388 13.7897592 16.8752178 16.8752178 13.7897592 20.6846388 13.7897592 24.4940597 13.7897592 27.5795184 16.8752178 27.5795184 20.6846388 27.5795184 24.4940597 24.4940597 27.5795184 20.6846388 27.5795184ZM34.2089451 9.64421282C34.2089451 11.0145701 33.095422 12.1263695 31.7267884 12.1263695 30.3564311 12.1263695 29.2446318 11.0128464 29.2446318 9.64421282 29.2446318 8.27557923 30.3581548 7.16377989 31.7267884 7.16377989 33.0936983 7.16205617 34.2089451 8.27557923 34.2089451 9.64421282Z" id="Shape"></path></g></g></g></svg>
        
        {% elsif social_handle == 'facebook' %}<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Facebook</title><defs></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Facebook" fill="#ffffff"><path d="M25 50C11.1928806 50 0 38.8071194 0 25 0 11.1928806 11.1928806 0 25 0 38.8071194 0 50 11.1928806 50 25 50 38.8071194 38.8071194 50 25 50ZM25 47C37.1502651 47 47 37.1502651 47 25 47 12.8497349 37.1502651 3 25 3 12.8497349 3 3 12.8497349 3 25 3 37.1502651 12.8497349 47 25 47ZM26.8145197 36 21.9368678 36 21.9368678 24.9991413 19.5 24.9991413 19.5 21.2080366 21.9368678 21.2080366 21.9368678 18.9318709C21.9368678 15.8390937 23.3128757 14 27.2222769 14L30.4769629 14 30.4769629 17.7915341 28.4425538 17.7915341C26.9207209 17.7915341 26.8200486 18.3213442 26.8200486 19.3101227L26.8145197 21.2076072 30.5 21.2076072 30.0687449 24.998712 26.8145197 24.998712 26.8145197 36Z" id="Oval-1"></path></g></g></svg>
        
        {% elsif social_handle == 'twitter' %}<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Twitter</title><defs></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Twitter" fill="#ffffff"><path d="M25 50C11.1928806 50 0 38.8071194 0 25 0 11.1928806 11.1928806 0 25 0 38.8071194 0 50 11.1928806 50 25 50 38.8071194 38.8071194 50 25 50ZM25 47C37.1502651 47 47 37.1502651 47 25 47 12.8497349 37.1502651 3 25 3 12.8497349 3 3 12.8497349 3 25 3 37.1502651 12.8497349 47 25 47ZM24.6822554 20.5542975C24.5391894 18.4243168 24.6822554 20.5542975 24.6822554 20.5542975 24.5391894 18.4243168 25.7949903 16.4788226 27.7820169 15.724105 28.5132428 15.455761 29.7531474 15.422218 30.5638543 15.657019 30.8817786 15.757648 31.4858346 16.093078 31.9150324 16.394965L32.6939469 16.9484246 33.5523424 16.6633091C34.0292288 16.5123656 34.6650773 16.2607931 34.9512092 16.093078 35.2214448 15.9421346 35.459888 15.858277 35.459888 15.9085915 35.459888 16.1937071 34.8717281 17.1664541 34.3789455 17.7031422 33.7113045 18.4578598 33.9020591 18.5249458 35.2532373 18.0218007 36.0639442 17.7366852 36.0798403 17.7366852 35.9208782 18.0553437 35.8255009 18.2230588 35.3327183 18.8100613 34.8081432 19.3467494 33.9179553 20.269182 33.8702667 20.369811 33.8702667 21.1413 33.8702667 22.3320767 33.3297954 24.8142589 32.7893242 26.1727505 31.7878628 28.7220188 29.6418739 31.3551445 27.4958851 32.6800932 24.4756046 34.5417298 20.4538626 35.0113319 17.0679692 33.9211843 15.939338 33.5522113 14 32.6130071 14 32.4452922 14 32.3949776 14.5881599 32.3278916 15.3034895 32.3111202 16.7977335 32.2775772 18.2919776 31.8415181 19.5636746 31.070029L20.4220701 30.533341 19.436505 30.1811394C18.0376382 29.6779944 16.7818374 28.5207608 16.4639131 27.4306131 16.3685358 27.0784116 16.4003282 27.0616401 17.2905161 27.0616401L18.2124965 27.0448686 17.433582 26.6591241C16.5116017 26.1727505 15.6691024 25.350947 15.2558008 24.5123719 14.9537728 23.9085978 14.5722637 22.3823912 14.6835371 22.2649907 14.7153296 22.2146761 15.0491501 22.3153051 15.4306592 22.4494772 16.5274979 22.8687647 16.6705638 22.7681357 16.0347153 22.0637326 14.8424993 20.7890985 14.4768864 18.8939188 15.0491501 17.0993681L15.3193857 16.2943361 16.3685358 17.3844837C18.5145246 19.5815504 21.0420225 20.8897275 23.9351333 21.2754721L24.729944 21.3761011 24.6822554 20.5542975Z" id="Oval-1"></path></g></g></svg>{% elsif social_handle == 'pinterest' %}<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Pinterest</title><defs></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Pinterest" fill="#ffffff"><path d="M25 0C11.1928806 0 0 11.1928806 0 25 0 38.8071194 11.1928806 50 25 50 38.8071194 50 50 38.8071194 50 25 50 11.1928806 38.8071194 0 25 0ZM25 3C12.8497349 3 3 12.8497349 3 25 3 37.1502651 12.8497349 47 25 47 37.1502651 47 47 37.1502651 47 25 47 12.8497349 37.1502651 3 25 3ZM15.5 21.3293651C15.5 23.8979841 16.4179886 26.1831362 18.3868965 27.0346983 18.7097504 27.1745243 18.9989411 27.0395084 19.0925718 26.6608336 19.1577063 26.3987635 19.3117743 25.737617 19.3805099 25.4622774 19.4749236 25.0877494 19.4382854 24.9563826 19.1777477 24.629956 18.6100133 23.9205421 18.2472332 23.0021355 18.2472332 21.7012393 18.2472332 17.9270976 20.9127352 14.5483833 25.1881227 14.5483833 28.9739058 14.5483833 31.0538241 16.9989049 31.0538241 20.2716301 31.0538241 24.5777078 29.2549547 28.2120235 26.5844424 28.2120235 25.1096795 28.2120235 24.005682 26.9199182 24.3595374 25.3352232 24.7832244 23.4433422 25.6039811 21.4015173 25.6039811 20.0359328 25.6039811 18.8134918 24.9845775 17.7939063 23.7027128 17.7939063 22.1950696 17.7939063 20.983976 19.4461092 20.983976 21.6594407 20.983976 23.0691459 21.4336542 24.0225504 21.4336542 24.0225504 21.4336542 24.0225504 19.890782 30.9476708 19.6203801 32.1604915 19.0817683 34.5758493 19.5394317 37.5367443 19.5781053 37.8358028 19.6008084 38.0129489 19.8157834 38.0550792 19.9131719 37.9212244 20.0522089 37.7289843 21.8477903 35.3806369 22.4582691 33.0341139 22.6309694 32.36965 23.4498471 28.9290673 23.4498471 28.9290673 23.9396081 29.9187967 25.3711567 30.7905945 26.8935179 30.7905945 31.4253723 30.7905945 34.5 26.4138574 34.5 20.5554288 34.5 16.1256142 30.9581579 12 25.575015 12 18.8771271 12 15.5 17.0871462 15.5 21.3293651Z" id="Oval-1"></path></g></g></svg>{% elsif social_handle == 'youtube' %}<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>YouTube</title><defs></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="YouTube" fill="#ffffff"><path d="M50 25C50 11.1928806 38.8071194 0 25 0 11.1928806 0 0 11.1928806 0 25 0 38.8071194 11.1928806 50 25 50 38.8071194 50 50 38.8071194 50 25ZM47 25C47 12.8497349 37.1502651 3 25 3 12.8497349 3 3 12.8497349 3 25 3 37.1502651 12.8497349 47 25 47 37.1502651 47 47 37.1502651 47 25ZM36.768327 30.7654774C36.4698281 32.0627028 35.4087162 33.0191862 34.1319129 33.1618614 31.1074781 33.4998058 28.0463955 33.5014844 24.9984613 33.4998058 21.9508068 33.5014844 18.8894444 33.4998058 15.8652894 33.1618614 14.5882064 33.0191862 13.5276539 32.0627028 13.2294348 30.7654774 12.8047662 28.9179732 12.8047662 26.9020564 12.8047662 25.0002798 12.8047662 23.0982233 12.8098018 21.0820268 13.2341906 19.2345226 13.5326895 17.9372972 14.5932419 16.980534 15.8700452 16.8381386 18.89448 16.5001942 21.9555627 16.4985156 25.0034969 16.5001942 28.0511513 16.4985156 31.1125137 16.5001942 34.1366687 16.8381386 35.4137518 16.980534 36.4748637 17.9372972 36.7730829 19.2345226 37.1977514 21.0820268 37.1952336 23.0982233 37.1952336 25.0002798 37.1952336 26.9020564 37.1927158 28.9179732 36.768327 30.7654774ZM22.8047662 20.5 29.5547662 24.3971143 22.8047662 28.2942286 22.8047662 20.5Z" id="Oval-1"></path></g></g></svg>{% elsif social_handle == 'vimeo' %}<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Vimeo</title><defs></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Vimeo" fill="#ffffff"><path d="M50 25C50 11.1928806 38.8071194 0 25 0 11.1928806 0 0 11.1928806 0 25 0 38.8071194 11.1928806 50 25 50 38.8071194 50 50 38.8071194 50 25ZM47 25C47 12.8497349 37.1502651 3 25 3 12.8497349 3 3 12.8497349 3 25 3 37.1502651 12.8497349 47 25 47 37.1502651 47 47 37.1502651 47 25ZM17.315812 20.9060694C17.9328006 21.6627251 20.2884417 30.7991385 21.0747632 32.4845455 21.7610734 33.9625783 23.6542105 35.9166045 25.7302773 34.5211721 27.8051355 33.1256949 34.7049271 27.0158598 35.9400265 19.8005667 37.1740468 12.5875569 27.6369679 14.0985404 26.6267538 20.382799 29.1516416 18.8105703 30.4993563 21.0216204 29.2073234 23.5249731 27.9176213 26.0259082 26.7391965 27.657054 26.1221216 27.657054 25.5062553 27.657054 25.0324423 25.9834215 24.3267945 23.0582023 23.5973201 20.0339521 23.6018092 14.5864425 20.5690087 15.204043 17.7089081 15.7862753 13.95 20.4417609 13.95 20.4417609L14.8476851 21.6627251C14.8476851 21.6627251 16.6987803 20.1493241 17.315812 20.9060694Z" id="Oval-1"></path></g></g></svg>{% endif %}</a></li> {% endif %} {% endfor %}</ul></section></footer> 
        
        
{% schema %}{
  "name": "Footer",
  "settings": [
    {
      "type": "color",
      "id": "footer_background",
      "label": "Background Color",
      "default": "#1b3448"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Newsletter Placeholder Text",
      "default": "Alex Crane in your inbox"
    },
    {
      "type": "checkbox",
      "id": "show_mailchimp_signup",
      "label": "Show Mailchimp Signup Form",
      "default": true
    },
    {
      "type": "link_list",
      "id": "footer_primary",
      "label": "Primary Links"
    },
    {
      "type": "link_list",
      "id": "footer_secondary",
      "label": "Secondary Links"
    },
    {
      "type": "link_list",
      "id": "footer_tertiary",
      "label": "Tertiary Links"
    },
    {
      "type": "header",
      "content": "Product Footer"
    },
    {
      "type": "text",
      "id": "product_email_headline",
      "label": "Newsletter Headline",
      "default": "Don’t Miss Out!"
    },
    {
      "type": "text",
      "id": "product_email_copy",
      "label": "Newsletter Copy",
      "default": "Sign up for early access to new collections, special orders, and free shipping + free returns on every order."
    },
    {
      "type": "text",
      "id": "footer_email_copy",
      "label": "Footer Newsletter CTA",
      "default": "Join our mailing list for 15% off your first order."
    }
  ]
} 
{% endschema %}






