{% capture press_blocks %}
  {% for block in section.blocks %}
    {% if block.type == 'quote' %}
			{% if block.settings.quote != blank %}
				<div class="hp-press-carousel__quote" style="width: {{ 100.00 | divided_by: section.settings.cell_count }}%;">

					<div class="hp-press-carousel__quote-wrapper">

						<{% if block.settings.url != blank %}a href="{{ block.settings.url }}" {% else %}div{% endif %}
							class="hp-press-carousel__logo">
							<div class="hp-press-carousel__logo-wrapper">
								{% if block.settings.logo %}
										{%- assign logo_url  = block.settings.logo | img_url: '400x200' -%}
										<img class="hp-press-carousel__logo-image lazyload-img " loading="lazy" src="{{ logo_url }}" data-src="{{ logo_url }}"
												width="{{ block.settings.logo.width }}" height="{{ block.settings.logo.height }}" alt="{{ block.settings.title | escape }}">
										<noscript>
												<img class="hp-press-carousel__logo-image" src="{{ block.settings.logo | img_url: '200x' }}"
												alt="{{ block.settings.title | escape }}">
										</noscript>
								{% endif %}
							</div>
						</{% if block.settings.url != blank %}a{% else %}div{% endif %}>
						<div class="hp-press-quote__info">
							<h3 class="hp-press-carousel__headline">
								&ldquo;{{ block.settings.quote }}&rdquo;
							</h3>
						</div>
						<a href="{{ block.settings.url }}" class="hp-press-carousel__link"></a>
					</div>

				</div>
    	{% endif %}
		{% else %}
			<div class="hp-press-carousel__quote" style="width: {{ 100.00 | divided_by: section.settings.cell_count }}%;">

				<div class="hp-press-carousel__quote-wrapper review">

					<{% if block.settings.url != blank %}a href="{{ block.settings.url }}" {% else %}div{% endif %}
						class="hp-press-carousel__logo">
						<div class="hp-press-carousel__logo-wrapper review">
							<div class="hp-press-carousel__reviewer">
								{{ block.settings.name }}
							</div>
							<div class="hp-press-carousel__product">
								{% if all_products[block.settings.product].title %}
									<a class="lp-reviews-carousel__detail detail-product"
										href="{{ all_products[block.settings.product].url }}">
										<span class="detail-value">{{ all_products[block.settings.product].title }}</span>
									</a>
								{% endif %}
							</div>
						</div>
					</{% if block.settings.url != blank %}a{% else %}div{% endif %}>

					<div class="hp-press-quote__info">
						<h3 class="hp-press-carousel__headline"> 
							&ldquo;{{ block.settings.review }}&rdquo;
						</h3>
					</div>
					<a href="{{ block.settings.url | default: all_products[block.settings.product].url }}" class="hp-press-carousel__link"></a>
				</div>
				

			</div>
		{% endif %}
  {% endfor %}
{% endcapture %}

<section id="section-{{ section.id }}" class="hp-section-variant" data-section-id="{{ section.id }}" data-variation="{{ section.settings.variation }}">
  <div class="hp-press-carousel" style="background-color: {{ section.settings.background }};"> 
    {% if section.settings.subtitle != blank %}
      <h4 class="hp-press-carousel__section-subtitle">{{ section.settings.subtitle }}</h2>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 class="hp-press-carousel__section-title">{{ section.settings.title }}</h2>
    {% endif %}
    
    <div class="hp-press-carousel__quotes{% if section.blocks.size <= section.settings.cell_count %} disabled-on-desktop{% endif %}" data-cell-count="{{ section.settings.cell_count }}">
      {{ press_blocks }}
    </div>
  </div>
  <style>
    #shopify-section-{{ section.id }} .hp-press-carousel__title, #shopify-section-{{ section.id }} .hp-press-carousel__price, #shopify-section-{{ section.id }} .hp-press-carousel__variant-title {
        color: {{ section.settings.text_color }} !important;
    }
    #shopify-section-{{ section.id }} .hp-press-carousel__press {
        color: {{ section.settings.background }} !important;
    }
    @media (max-width: 699px) {
        #shopify-section-{{ section.id }} {
            padding: {{ section.settings.padding_top_m }}px {{ section.settings.padding_right_m }}px {{ section.settings.padding_bottom_m }}px {{ section.settings.padding_left_m }}px;
        }
        #shopify-section-{{ section.id }} .hp-press-carousel__press {
            padding: {{ section.settings.inner_padding_top_m }}px {{ section.settings.inner_padding_right_m }}px {{ section.settings.inner_padding_bottom_m }}px {{ section.settings.inner_padding_left_m }}px;
        }
    }
    @media (min-width: 700px) {
        #shopify-section-{{ section.id }} {
            padding: {{ section.settings.padding_top_d }}px {{ section.settings.padding_right_d }}px {{ section.settings.padding_bottom_d }}px {{ section.settings.padding_left_d }}px;
        }
        #shopify-section-{{ section.id }} .hp-press-carousel__press {
            padding: {{ section.settings.inner_padding_top_d }}px {{ section.settings.inner_padding_right_d }}px {{ section.settings.inner_padding_bottom_d }}px {{ section.settings.inner_padding_left_d }}px;
        }
    }
    {% if section.settings.background_image != blank %}
        #shopify-section-{{ section.id }} {
            background-image: url({{ section.settings.background_image | img_url }});
        }
    {% endif %}
  </style>
</section> 

<script src="{{ 'hp-press-carousel.min.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'hp-press-carousel.min.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'hp-press-carousel.min.css' | asset_url | stylesheet_tag }}</noscript>



{% schema %}
{
  "name": "HP Press",
  "class": "c-hp-press-carousel hp-section",      
  "max_blocks": 12,
  "settings": [
    {
        "type": "select",
        "id": "variation",
        "options": [
            {
                "value": "all",
                "label": "Universal"
            },
            {
                "value": "0",
                "label": "Control"
            },
            {
                "value": "1",
                "label": "Variation 1"
            },
            {
                "value": "2",
                "label": "Variation 2"
            },
            {
                "value": "3",
                "label": "Variation 3"
            },
            {
                "value": "4",
                "label": "Variation 4"
            },
            {
                "value": "5",
                "label": "Variation 5"
            }
        ],
        "default": "all",
        "label": "Variation"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "info": "The message that will be dispayed above the press."
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "info": "The message that will be dispayed above the press."
    },
    {
        "type": "range",
        "id": "cell_count",
        "label": "Cell Count",
        "min": 2,
        "max": 5,
        "step": 1,
        "unit": "cel",
        "default": 3,
        "info": "The number of cells that will be displayed on desktop."

    },
    {
        "type": "color",
        "id": "background",
        "label": "Background Color",
        "default": "#ffffff"
    },
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
    },    
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000" 
    },
    {
        "type": "header",
        "content": "Outer Spacing Mobile"
    },
    {
        "type": "range",
        "id": "padding_top_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_bottom_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_left_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Left",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_right_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Right",
        "default": 0
    },
    {
        "type": "header",
        "content": "Inner Spacing Mobile"
    },
    {
        "type": "range",
        "id": "inner_padding_top_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
    },
    {
        "type": "range",
        "id": "inner_padding_bottom_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
    },
    {
        "type": "range",
        "id": "inner_padding_left_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Left",
        "default": 0
    },
    {
        "type": "range",
        "id": "inner_padding_right_m",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Right",
        "default": 0
    },
    {
        "type": "header",
        "content": "Outer Spacing Desktop"
    },
    {
        "type": "range",
        "id": "padding_top_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_bottom_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_left_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Left",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_right_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Right",
        "default": 0
    },
    {
        "type": "header",
        "content": "Inner Spacing Desktop"
    },
    {
        "type": "range",
        "id": "inner_padding_top_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
    },
    {
        "type": "range",
        "id": "inner_padding_bottom_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
    },
    {
        "type": "range",
        "id": "inner_padding_left_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Left",
        "default": 0
    },
    {
        "type": "range",
        "id": "inner_padding_right_d",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding Right",
        "default": 0
    }
  ],
  "blocks": [
  {
      "type": "quote",
      "name": "Press",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Publication"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    },
  {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "richtext",
          "id": "review",
          "label": "Review"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "HP Press",
    "category": "Home Page"
  }
]
}
{% endschema %}
