<link rel="stylesheet" href="{{ 'plp-products.min.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'plp-products.min.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'infinite-scroll.pkgd.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'plp-products.min.js' | asset_url }}" defer="defer"></script>

<link rel="stylesheet" href="{{ 'plp-collections.min.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'plp-collections.min.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'plp-collections.min.js' | asset_url }}" defer="defer"></script>


<div
  class="template-search template-collection{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %} section-{{ section.id }}-padding">
  <div class="template-search__header page-width center">
    {%- if search.performed -%}
      <h1 class="h3 color-accent">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
    {%- else -%}
      <h1 class="h3 color-accent">{{ 'general.search.title' | t }}</h1>
    {%- endif -%}
      <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <input type="hidden" name="type" value="product">
        <div class="field">
          <label class="field__label" for="Search-In-Template">
            <svg class="Icon Icon--search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="transform: translateY(5px);"
              width="17px" height="17px" viewBox="0 0 17 17" version="1.1">
              <g id="Prestige" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Home-M-—-04" transform="translate(-256.000000, -16.000000)">
                  <g id="Group-6" transform="translate(257.000000, 17.000000)" stroke="#000000" stroke-width="1.5">
                    <circle id="Oval" cx="6" cy="6" r="6"></circle>
                    <path d="M10.4166667,10.4166667 L14.6677284,14.6677284" id="Line-3" stroke-linecap="square"></path>
                  </g>
                </g>
              </g>
            </svg>
            <span class="visually-hidden">Search</span>
          </label>
          <input class="search__input field__input" id="Search-In-Template" type="search" name="q"
            value="{{ search.terms | escape }}" placeholder="{{ 'general.search.submit' | t }}" {%- if
            settings.predictive_search_enabled -%} role="combobox" aria-expanded="false"
            aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox"
            aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" {%- endif
            -%}>
          <input name="options[prefix]" type="hidden" value="last">
      
          {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
            <div class="predictive-search__loading-state">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
      
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
      
          <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
 Search
          </button>
        </div>
      </form>
  </div>
  {%- if search.performed -%}
    {% paginate search.results by 24 %}
      <div class="collection-wrapper">
        <section class="plp-products" id="shop-container">
          {%- if search.results.size == 0 and search.filters != empty -%}
            <h4 class="title title--primary">
              Sorry, no results were found to match your search.
            </h4>
          {%- else -%}
            {% for product in search.results %}
              {%- case product.object_type -%}
                {%- when 'product' -%}
                  {% include 'plp-item' %}
              {%- endcase -%}
            {% endfor %}
          {%- endif -%}
        </section>
      
      </div>
      {% include 'collection-pagination' %}
    {% endpaginate %}
      <section class="plp-products" id="shop-container" data-collection-root="{{ collection.url | escape }}" data-infinite-scroll='{ "path": ".plp-products__pagination .next a", "append": ".plp-item", "history": false }'>
        {% paginate collection.products by section.settings.product_count %}

            {% for product in collection.products %}
              {%- case product.object_type -%}
                {%- when 'product' -%}
                  {% include 'plp-item' %}
              {%- endcase -%}
            {% endfor %}

            {%- if paginate.pages > 1 -%}
              <div class="plp-products__pagination">
                {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
              </div>
            {%- endif -%}

        {% endpaginate %}
      </section>
  {%- endif -%}
</div>

<style>
.template-search__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px var(--color-blue-dark);
    padding-bottom: 32px;
    padding-top: 32px;
    flex-direction: column;
}
.cloud-search-page-controls {
  display: none !important;
}
@media (max-width: 699px) {
  .template-search__header {
    flex-direction: column;
  }
}
</style>

{% schema %}
{
"name": "Search",
"tag": "section",
"class": "section",
"settings": [
{
"type": "range",
"id": "columns_desktop",
"min": 1,
"max": 5,
"step": 1,
"default": 4,
"label": "columns_desktop"
},
{
"type": "header",
"content": "header__1.content"
},
{
"type": "select",
"id": "image_ratio",
"options": [
{
"value": "adapt",
"label": "image_ratio.options__1.label"
},
{
"value": "portrait",
"label": "image_ratio.options__2.label"
},
{
"value": "square",
"label": "image_ratio.options__3.label"
}
],
"default": "adapt",
"label": "image_ratio.label"
},
{
"type": "checkbox",
"id": "show_secondary_image",
"default": false,
"label": "show_secondary_image.label"
},
{
"type": "checkbox",
"id": "show_vendor",
"default": false,
"label": "show_vendor.label"
},
{
"type": "checkbox",
"id": "show_rating",
"default": false,
"label": "show_rating.label",
"info": "show_rating.info"
},
{
"type": "header",
"content": "header__1.content"
},
{
"type": "checkbox",
"id": "enable_filtering",
"default": true,
"label": "enable_filtering.label",
"info": "enable_filtering.info"
},
{
"type": "checkbox",
"id": "enable_sorting",
"default": true,
"label": "enable_sorting.label"
},
{
"type": "checkbox",
"id": "collapse_on_larger_devices",
"default": false,
"label": "collapse_on_larger_devices.label"
},
{
"type": "header",
"content": "header__2.content"
},
{
"type": "checkbox",
"id": "article_show_date",
"default": true,
"label": "article_show_date.label"
},
{
"type": "checkbox",
"id": "article_show_author",
"default": false,
"label": "article_show_author.label"
},
{
"type": "header",
"content": "section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "padding_top",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "padding_bottom",
"default": 36
}
]
}
{% endschema %}