{% include 'product-primary' %}
{% section 'product-reviews' %}
<div class="rebuy-recommended-products pdp" data-rebuy-id="10720" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
{% include 'rebuy-recommended-products' %}
{% section 'sustainability' %}


{% section 'size-charts' %}

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<script type="text/javascript">
  var _learnq = _learnq || [];
  document.getElementById("AddToCart").addEventListener('click',function (){
      _learnq.push(['track', 'Added to Cart', item]);
  });

  console.log('breezy', {{ product.id }}, {{ product.selected_or_first_available_variant.id }});
</script>
<script src="{{ 'plp-products.min.js' | asset_url }}" defer="defer"></script>

<style> 
  @media (max-width: 699px) {
    #colorset.colorset-flex {
        display: flex !important;
    }
  }
</style> 
